includes:
	- tests/phpstan/configs/architectural-issues.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	checkExplicitMixed: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- tests/phpunit
	stubFiles:
		- tests/phpstan/stubs/JsonMapper.stub
	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	typeAliases:
	    #variadics don't work for this - mixed probably shouldn't work either, but for now it does
	    #what we actually need is something that accepts an infinite number of parameters, but in the absence of that,
	    #we'll just fill it with 10 - it's very unlikely to encounter a callable with 10 parameters anyway.
	    anyCallable: 'callable(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed) : mixed'
	    anyClosure: '\Closure(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed) : mixed'
