parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$eid of method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\serializer\\\\PacketSerializer\\:\\:putActorUniqueId\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/SetScorePacket.php

		-
			message: "#^Parameter \\#1 \\$v of method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\serializer\\\\PacketSerializer\\:\\:putString\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: ../../../src/SetScorePacket.php

		-
			message: "#^Parameter \\#1 \\$eid of method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\serializer\\\\PacketSerializer\\:\\:putActorUniqueId\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/SetScoreboardIdentityPacket.php

		-
			message: "#^Parameter \\#1 \\$v of method pocketmine\\\\utils\\\\BinaryStream\\:\\:putVarInt\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/types/recipe/FurnaceRecipe.php

