parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$boolAbilities of class pocketmine\\\\network\\\\mcpe\\\\protocol\\\\types\\\\UpdateAbilitiesPacketLayer constructor expects array\\<0\\|1\\|2\\|3\\|4\\|5\\|6\\|7\\|8\\|9\\|10\\|11\\|12\\|13\\|14\\|15\\|16\\|17, bool\\>, array\\<int\\<0, 12\\>\\|int\\<15, 17\\>, bool\\> given\\.$#"
			count: 1
			path: ../../../src/types/UpdateAbilitiesPacketLayer.php
